.header {
    padding-top: 16px;
    padding-bottom: 16px;

    font-family: var(--second-font);

    background-color: var(--white);
}

.header__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .header__inner {
        justify-content: space-between;
    }
}

.header__content {
    display: none;
}

.header__list {
    display: flex;
    column-gap: 24px;
}

.header__link {
    font-size: 16px;
    line-height: 24px;

    color: var(--grey-3);
}

.header__link:hover {
    color: var(--black);
}

.header__link_active {
    color: var(--black);
}

.header__icon {
    display: block;
}

.header_component {
    background-color: transparent;
}

@media (min-width: 768px) {
    .header__content {
        display: block;
    }
}