.sidebar {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    font-family: 'Inter', sans-serif;
}

.sidebar__section {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.sidebar__list {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.sidebar__title {
    margin: 0;

    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: var(--black);
}

.sidebar__item {
    list-style: none;
}

.sidebar__link {
    font-size: 14px;
    line-height: 22px;
    color: var(--black);

    text-decoration: none;
    outline: none;
}

.sidebar__link_active {
    color: var(--active);
}

.sidebar__link:is(:focus, :hover) {
    border-bottom: 1px solid var(--black);
}
