.card {
    font-family: 'Inter';

    background-color: var(--white);
    border-radius: 12px;

    box-shadow: 0px 2px 4px 0px rgba(33, 36, 41, 0.05);
    box-sizing: border-box;
}

.card__body {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 12px;

    border-top: 1px solid var(--grey-2);
}

.card__title {
    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
}

.card__category {
    margin: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--grey-3);
}

.card__component {
    padding: 12px;
}

@media (min-width: 768px) {
    .card__component {
        padding: 32px 25px;
    }

    .card__title {
        font-family: 'Roboto';
        font-size: 21px;
        font-weight: 500;
        line-height: 25px;
    }

    .card__content {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }

    .card__body {
        row-gap: 6px;

        padding-bottom: 32px;
        border: 0;
    }
}