.accordion {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.accordion__item {
    padding: 24px 32px;

    font-family: 'Inter', sans-serif;
    line-height: 24px;
    color: var(--grey-4);

    border: 1px solid var(--grey-3);
    border-radius: 8px;
}

.accordion__summary {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.accordion__summary::-webkit-details-marker {
    display: none;
}

.accordion__summary {
    list-style: none;
}


.accordion__title {
    color: var(--black);
}

.accordion__logo {
    display: inline-block;
    width: 26px;
    height: 26px;

    color: var(--grey-4);
}

.accordion__item[open] .accordion__logo {
    transform: rotate(180deg);
}

.accordion__content {
    margin-top: 16px;
    margin-bottom: 8px;
}

.accordion__text {
    margin: 0;
}
