/* Стилизация аккордеона */
.accordion {
    max-width: 730px;
}

.accordion__item {
    margin-bottom: 8px;
    padding: 24px 32px;

    border: 1px solid var(--grey-3);
    border-radius: 8px;
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__summary {
    display: block;

    cursor: pointer;
}

.accordion__summary::-webkit-details-marker {
    display: none;
}

.accordion__content {
    margin-bottom: 8px;

    color: var(--grey-4);
}