.toggler {
    position: relative;

    display: inline-block;

    font: 16px/24px 'Inter';
    color: var(--text-sixth-color);
}

.toggler__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.toggler__control {
    position: relative;

    display: flex;
    column-gap: 12px;
    align-items: center;

    cursor: pointer;
}

.toggler__control::before {
    display: block;
    width: 52px;
    height: 28px;

    background-color: transparent;
    border: 1px solid var(--grey-2);
    border-radius: 16px;

    content: '';
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
    box-sizing: border-box;
}

.toggler__control::after {
    position: absolute;
    left: 2px;

    width: 24px;
    height: 24px;

    background-color: var(--grey-2);
    border-radius: 16px;

    content: '';
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggler__input:checked + .toggler__control::before {
    background-color: var(--blue);
    border-color: var(--blue);
}

.toggler__input:checked + .toggler__control::after {
    background-color: var(--white);
    transform: translateX(calc(100%));
}

.toggler__input:focus + .toggler__control {
    text-decoration: underline;
}

.toggler__input:disabled + .toggler__control {
    color: var(--grey-2);
    
    cursor: default;
    pointer-events: none;
}

.toggler__input:disabled + .toggler__control::after {
    background-color: var(--grey-3);
    opacity: 0.75;
}

.toggler__input:disabled + .toggler__control::before {
    background-color: var(--grey-2);
}