* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

header {
    text-align: center;

    background-color: #ff0000;
}

h1  {
    padding: 15px 0;

    color: #ffffff;
}

nav {
    padding: 10px 0;

    background-color: #ffa500;
}

a {
    padding: 0 10px;

    font-weight: 400;
    font-size: 18px;

    color: #ffffff;
}

main {
    padding: 15px;

    background-color: #008000;
}

article {
    margin-bottom: 5px;
    padding: 30px;

    color: #ffffff;
    background-color: #0000ff;
}

h2 {
    padding-bottom: 15px;
}

ul, ol {
    padding-left: 25px;
}

footer {
    text-align: center;

    background-color: #8a2be2;
}

p {
    padding: 15px 0;

    font-size: 32px;

    color: #ffffff;
}