.page {
    height: 100%;

    display: grid;
    grid-template-areas: 'header'
                         'main'
                         'footer';
    grid-template-rows: auto 1fr auto;

    background-color: var(--grey-5);
}

.page__header {
    grid-area: header;
}

.page__main {
    grid-area: main;
    margin-top: 64px;
}

.page__footer {
    grid-area: footer;
}
