.container {
    width: 100%;
    max-width: 1110px;
    padding-left: 16px;
    padding-right: 16px;

    box-sizing: border-box;
}

@media (min-width: 1110px) {
    .container {
        margin: 0 auto;
    }
}