.container {
    width: 100%;
    
    min-width: 320px;
    max-width: 1110px;
    padding: 0 16px;

    box-sizing: border-box;
}

@media (min-width: 1110px) {
    .container {
        margin: 0 auto;
    }
}