@import '../fonts/fonts.css';
@import './normalize.css';
@import '../../components/page/page.css';
@import '../../components/header/header.css';
@import '../../components/main/main.css';
@import '../../components/footer/footer.css';
@import '../../components/preview/preview.css';
@import '../../components/container/constainer.css';
@import '../../components/cards/cards.css';
@import '../../components/sidebar/sidebar.css';
@import '../../components/components/components.css';
@import '../../components/component/component.css';
@import '../../components/tabs/tabs.css';


:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #4263EB;
    --dark-purple: #5028C6;
    --eggplant: #334D6E;
    --blue: #4263EB;
    --dark-blue: #2342C0;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #F9FAFC;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);

    --shadow: var(--black);
    --active: #D84910;
}

:root {
    --background-color: var(--white);
    --background-second-color: var(--grey-5);
    --background-component-color: var(--grey-5);
    --background-second-component-color: var(--white);

    --text-color: var(--grey-3);
    --text-hover-color: var(--black);
    --text-active-color: var(--black);

    --text-second-color: var(--grey-4);

    --text-third-color: var(--black);

    --text-fifth-color: var(--black);
    --text-fifth-hover-color: var(--red);

    --text-sixth-color: var(--black);

    --h1-color: var(--grey-4);
    --h1-second-color: var(--black);
    --h2-color: var(--black);
    --h3-color: var(--black);

    --logo-color: var(--black);

    --calendar-color: #334D6E;
    --calendar-second-color: var(--calendar-color);

    --tooltip-icon-color: var(--black);

    --box-color: #2124290d;
}

html[data-theme-dark] {
    --background-color: var(--black);
    --background-second-color: var(--grey-4);
    --background-component-color: var(--grey-4);
    --background-second-component-color: var(--black);

    --text-hover-color: var(--white);
    --text-active-color: var(--white);

    --text-second-color: var(--grey-3);
    --text-third-color: var(--white);

    --text-fifth-color: var(--grey-3);

    --text-sixth-color: var(--white);


    --h1-color: var(--grey-3);
    --h1-second-color: var(--grey-3);
    --h2-color: var(--white);
    --h3-color: var(--grey-3);

    --logo-color: var(--white);

    --calendar-color: var(--grey-3);
    --calendar-second-color: var(--white);

    --tooltip-icon-color: var(--white);

    --box-color: #e8ebed37;
}

:root {
    --body-font: 'Roboto';
    --second-font: 'Inter';
}

body {
    height: 100vh;

    font-family: var(--body-font);
    background-color: var(--background-color);
}

ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

a {
    text-decoration: none;
}

h1,h2,h3 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}
