.tooltip {
    position: relative;

    display: inline-block;
    width: 129px;
    height: 77px;

    line-height: 0;
}


.tooltip__icon {
    position: relative;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
    z-index: 1;

    display: inline-block;

    cursor: pointer;
}

.tooltip__bubble {
    position: absolute;
    bottom: 100%;
    transform: translateY(100%);

    display: none;

    padding: 13px 21px 8px;

    line-height: 24px;
    color: var(--grey-2);

    background-color: var(--primary);
    border-radius: 10px;

    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    white-space: nowrap;
}

.tooltip__bubble::before {
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translateX(50%);

    border: 10px solid transparent;
    border-top: 6px solid var(--primary);

    content: "";
}

.tooltip__icon:hover + .tooltip__bubble {
    display: block;
}