.footer {
    padding: 16px 0;

    font-family: 'Inter', sans-serif;
    color: var(--black);
    text-align: center;

    background-color: var(--white);
}

.footer__inner {
    display: flex;
    flex-direction: column;
    align-content: center;
    row-gap: 20px;

    max-width: 640px;
    margin: 0 auto;
}

.footer__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}

.footer__content {
    font-size: 16px;
    line-height: 24px;
}

.footer_component {
    background-color: transparent;
}

.footer_component .footer__title {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--grey-3);
}

@media (min-width: 768px) {
    .footer {
        padding: 32px 0;
    }

    .footer__inner {
        row-gap: 32px;
    }

    .footer__title {
        font-size: 38px;
        line-height: 48px;
    }

    .footer__content {
        font-size: 16px;
        line-height: 24px;
    }

    .footer_component {
        padding: 56px 0;
    }
}
